{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Python Gallerys</h1>
    <p class="lead">App that uploads images' url from the internet.</p>
    <div class="row">
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ image_form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Uploaded Images</h2>        
        <div class="row">
            {% for image in images %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    {{ image.name }}
                    <a target="_blank" class="thumbnail" href="{{ image.url }}">
                        <img class="img-responsive" src="{{ image.url }}" alt="{{ image.name }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}